<a href="https://colab.research.google.com/github/danieldrako/Manipulacion-Transformacion-Datos-Pandas-NumPy/blob/main/13Agregar_o_eliminar_datos_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_books = pd.read_csv('/content/bestsellers-with-categories.csv', sep=',', header=0)

In [ ]:
# muestra las primeras 5 lineas del dataFrame
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [ ]:
#Eliminar columnas de la salida pero no del DataFrame
##elimina la columna Genre de la salida pero no del dataFrame
df_books.drop('Genre', axis=1).head()

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019

In [ ]:
 #elimina la columna Price del dataFrame
del df_books['Price']

In [ ]:
df_books.head()

,Name,Author,User Rating,Reviews,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction

In [ ]:
#Eliminar filas
df_books.drop(0, axis=0)
 #elimina la fila 0 del dataFrame

,Name,Author,User Rating,Reviews,Year,Genre
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,2011,Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

In [ ]:
#Eliminar un conjunto de filas mediante una lista
df_books.drop([0,1,2], axis=0)
#elimina las filas 0, 1 y 2 del dataFrame

,Name,Author,User Rating,Reviews,Year,Genre
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,2017,Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

In [ ]:
#Elimina un conjunto de filas mediante un rango
df_books.drop(range(0,10), axis=0)
#elimina las primeras 10 filas del dataFrame

,Name,Author,User Rating,Reviews,Year,Genre
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,2017,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,2011,Non Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,2018,Fiction
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,2009,Non Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction

##Agregar Columnas

In [ ]:
#Agregar una nueva columna con valores Nan
df_books['Nueva_columna'] = np.nan
#Crea una nueva columna con el nombre de Nueva_columna de valores Nan

In [ ]:
df_books.head()

,Name,Author,User Rating,Reviews,Year,Genre,Nueva_columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction,NaN
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction,NaN

In [ ]:
#Mostrar el número de filas o columnas que tiene un DataFrame
df_books.shape[0]
#Muestra el numero de filas que posee el dataFrame

550

In [ ]:
#Agregar valores a una nueva columna
data = np.arange(0, df_books.shape[0])

In [ ]:
#Crear una nueva columna y agregar los valores almacenados en el array
df_books['Rango'] = data
 #Crea una nueva columna llamada Rango con los valores del array

In [ ]:
df_books.head()

,Name,Author,User Rating,Reviews,Year,Genre,Nueva_columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction,NaN,4

##Agregando filas

In [ ]:
#Para añadir filas se utiliza la función append de Python añadiendo como parámetro una lista, 
#diccionario o añadiendo los valores manualmente.
df_books.append(df_books)
 #Duplica las filas del dataFrame porque se agrega a si mismo

,Name,Author,User Rating,Reviews,Year,Genre,Nueva_columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction,NaN,4
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,2019,Fiction,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2016,Non Fiction,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2017,Non Fiction,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2018,Non Fiction,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,2019,Non Fiction,NaN,549